@use "./base" as *;
@use "./colors" as *;
@use "./abstracts" as *;
@use "./pages" as *;







body {
	min-height: 100vh;
	display: flex;
	font-size: 16px;
	align-items: center;
	justify-content: center;
	font-family: Inter;
	padding: 1rem;
	color: #585757;
	background: #e8e8e8;
}
.block {
	background: #fff;
	width: 804px;
	padding: 1rem;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06),
		0px 1px 1px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	display: block;
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;
		.title {
			display: flex;
			align-items: flex-start;
			.tag {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 4px;
				background: #f7f7f7;
				color: #1c1c1c;
				text-align: center;
				padding: 0 4px;
				letter-spacing: 0.04em;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 10px;
				line-height: 16px;
				border: 1px solid #e8e8e8;
				border-radius: 96px;
			}
		}
	}
}
.writing {
	background: #ffffff;
	border: 1px solid #e8e8e8;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 24px;
	padding: 12px;
	.textarea {
		width: 100%;
		font-family: "Inter";
		color: #585757;
		height: 50px;
		overflow-y: auto;
		appearance: none;
		border: 0;
		outline: 0;
		resize: none;
		font-size: 16px;
		line-height: 24px;
	}
	&:focus-within {
		border: 1px solid #0085ff;
		box-shadow: 0px 0px 2px 2px rgba(0, 133, 255, 0.15);
	}
	.footer {
		margin-top: 12px;
		padding-top: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid #e8e8e8;
		.text-format {
			display: flex;
			align-items: center;
			gap: 12px;
		}
	}
}
.comment {
	display: grid;
	gap: 14px;
	.user-banner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.user {
			gap: 8px;
			align-items: center;
			display: flex;
			.avatar {
				height: 32px;
				width: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid transparent;
				position: relative;
				border-radius: 100px;
				font-weight: 500;
				font-size: 13px;
				line-height: 20px;
				img {
					max-width: 100%;
					border-radius: 50%;
				}
				.stat {
					display: flex;
					position: absolute;
					right: -2px;
					bottom: -2px;
					display: block;
					width: 12px;
					height: 12px;
					z-index: 9;
					border: 2px solid #ffffff;
					border-radius: 100px;
					&.green {
						background: #00ba34;
					}
					&.grey {
						background: #969696;
					}
				}
			}
		}
	}
	.footer {
		gap: 12px;
		display: flex;
		align-items: center;
		.reactions {
			display: flex;
			align-items: center;
			gap: 8px;
		}
		.divider {
			height: 12px;
			width: 1px;
			background: #e8e8e8;
		}
	}
	&:not(.comment:first-child) {
		padding-bottom: 12px;
		margin-bottom: 12px;
		border-bottom: 1px solid #e8e8e8;
	}
	& + & {
		padding-top: 12px;
	}
	&.reply {
		.user-banner,
		.content,
		.footer {
			margin-left: 32px;
		}
	}
}
.group-radio {
	position: relative;
	display: flex;
	user-select: none;
	align-items: stretch;
	.button-radio {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
		label {
			cursor: pointer;
			padding: 4px 8px;
			font-weight: 500;
			font-size: 14px;
			display: flex;
			height: 28px;
			align-items: center;
			line-height: 28px;
			transition: 0.2s ease;
		}
		&:first-child {
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			border-left: 1px solid #e8e8e8;
			border-top: 1px solid #e8e8e8;
			border-bottom: 1px solid #e8e8e8;
		}
		&:last-child {
			border-top-right-radius: 8px;
			border-right: 1px solid #e8e8e8;
			border-top: 1px solid #e8e8e8;
			border-bottom: 1px solid #e8e8e8;
			border-bottom-right-radius: 8px;
		}
		input[type="radio"] {
			display: none;
			&:checked + label {
				background: #f7f7f7;
			}
		}
	}
	.divider {
		width: 1px;
		background: #e8e8e8;
	}
}
h5 {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #1c1c1c;
	letter-spacing: 0em;
	text-align: left;
}
.btn {
	appearance: none;
	background: transparent;
	border: 0;
	padding: 0;
	display: flex;
	font: inherit;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #1c1c1c;
	transition: 0.2s ease;
	i {
		color: #969696;
		font-size: 18px;
		transition: 0.15s ease-in-out;
	}
	&.primary {
		min-width: 64px;
		padding: 8px 12px;
		height: 40px;
		color: #fff;
		display: inline-flex;
		background: #0085ff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06),
			0px 1px 1px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		&:hover {
			background: lighten(#0085ff, 10%);
		}
	}
	&:hover {
		i {
			opacity: 0.7;
		}
	}
	outline: none;
	img {
		max-width: 18px;
		height: auto;
	}
	&.react {
		padding: 4px 8px 4px 4px;
		background: #f7f7f7;
		border: 1px solid #e8e8e8;
		border-radius: 8px;
		gap: 4px;
		&:hover {
			background-color: #eee;
		}
	}
	&.dropdown {
		display: flex;
		cursor: pointer;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		padding: 0;
		width: 26px;
		height: 26px;
		&:hover {
			background-color: #eee;
		}
	}
}
p {
	line-height: 24px;
	a.tagged-user {
		display: inline-flex;
		padding: 2px 8px;
		background: #e5f3ff;
		border-radius: 256px;
		color: #0085ff;
	}
}
.is-mute {
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	color: #969696;
}
a {
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	color: #1c1c1c;
	text-decoration: none;
	transition: opacity 0.15s ease-in-out;
	&:hover {
		opacity: 0.7;
	}
}
h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	color: #1c1c1c;
}
* {
	box-sizing: border-box;
}
.load {
	display: flex;
	align-items: center;
	justify-content: center;
	span {
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		color: #969696;
		i {
			margin-right: 6px;
		}
	}
}
.group-button {
	display: flex;
	gap: 16px;
}