$apple-blue: rgb(0,122,255);
$apple-brown: rgb(172,142,104);
$apple-cyan: rgb(50,173,230);
$apple-green: rgb(52,199,89);
$apple-indigo: rgb(94,92,230);
$apple-mint: rgb(102,212,207);
$apple-orange: rgb(255,159,10);
$apple-pink: rgb(255,55,95);
$apple-purple: rgb(191,90,242);
$apple-red: rgb(255,59,48);
$apple-teal: rgb(48,176,199);
$apple-yellow: rgb(255,204,0);