$rams-white: #d9d2c6;
$rams-black: #0d0000;
$rams-gray: #b9ada4;
$rams-flesh: #d9c3b0;
$rams-brown: #bfa07a;
$rams-green: #736b1e;
$rams-yellow: #ed8008;
$rams-tangerine: #cc6324;
$rams-orange: #ed3f1c;
$rams-maroon: #bf1b1b;
$rams-red: #af2e1b;
$rams-blue: #3b4b59;
