$black-1: #181818;
$black-2: #383838;
$black-3: #585858;
$black-4: #696969;
$black-5: #787878;

$white-1: #a0a0a0;
$white-2: #b8b8b8;
$white-3: #cfcfcf;
$white-4: #f5f5f5;
$white-5: #f8f8f8;

$green-1: #135a30;
$green-2: #197840;
$green-3: #35a162;
$green-4: #35a162;
$green-5: #62b685;

$red-1: #9d1616;
$red-2: #c41b1b;
$red-3: #d65f5f;
$red-4: #d65f5f;
$red-5: #e28d8d;

$blue-1: #0b4e5f;
$blue-2: #0e6277;
$blue-3: #267285;
$blue-4: #6ea1ad;
$blue-5: #87b1bb;

$yellow-1: #c59021;
$yellow-2: #deaa3a;
$yellow-3: #e5bd66;
$yellow-4: #edd092;
$yellow-5: #f4e3bd;
