 
<div class="comment">
			<div class="user-banner">
				<div class="user">
					<div class="avatar" style="background-color:#fff5e9;border-color:#ffe0bd; color:#F98600">
						SÙA
						<span class="stat green"></span>
					</div>
						<h5>{{author}}</h5>
				</div>
				<button class="btn dropdown"><i class="ri-more-line"></i></button>
			</div>
			<div class="content">
					<p>{{content}}</p>
			</div>
			<div class="footer">
					
				<div class="reactions">
					<button class="btn react">
						{{!-- <img width="16" src="../assets/icons/thumbs-up-regular.svg" alt="icon" /> --}}
						{{> svg/thumbs-up}}
						<span>5</span>
					</button>
				  <button class="btn react">
						{{> svg/thumbs-down}}
						<span>1</span>
					</button>
 
				</div>
				<div class="divider"></div>
				<button class="sendCommentReply" value="{{id}}">Reply</button>
				<div class="divider"></div>
				<span class="is-mute">18 sec</span>
			</div>
	
		<div class="reply">
			<div id="reply_{{id}}">

			</div>
      {{#each replies as |reply| }}
        {{> comment author=reply.author id=reply._id content=reply.content}}
      {{/each}}

		</div>
  </div>
 