	<div class="writing">
		<div contenteditable="true" class="textarea" autofocus spellcheck="false">
			{{!-- <p>  <a class="tagged-user"> </a></p> --}}
			<p></p>
		</div>
		<div class="footer">
			<div class="text-format">
				<button class="btn"><i class="ri-bold"></i></button>
				<button class="btn"><i class="ri-italic"></i></button>
				<button class="btn"><i class="ri-underline"></i></button>
				<button class="btn"><i class="ri-list-unordered"></i></button>
			</div>
			<div class="group-button">
				<button class="btn"><i class="ri-at-line"></i></button>
				<button class="btn primary">Send</button>
			</div>
		</div>
	</div>